.header {
  background-color: rgb(31, 29, 29);
  height: 3.5rem;
  display: flex;
  border-bottom: 1px solid rgb(87, 86, 86);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
  justify-content: space-between;
  color: white !important;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header__left {
  margin-left: 1rem;
  display: flex;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
}
.header__left img {
  margin-left: 2rem;
  height: 1.3rem;
}
.header__center {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
}
.header__center__option__search {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-right: 1rem;
  background-color: rgb(63, 62, 62);
}
.searchIcon {
  margin-left: 10px;
  margin-left: 1rem;
  height: 1.2rem !important;
  color: rgb(134, 133, 133) !important;
}
.searchIcon:hover,
.searchIcon:active {
  color: rgb(148, 147, 147) !important;
}
.header__center__option__search {
  flex: 0.8;
}
.header__center__option__search input {
  flex: 1;
  height: 1.3rem;
  font-size: 1.1rem;
  background-color: black;
  color: white;
  border: none;
  padding: 0.3rem;
}
.header__center__option {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 0.5rem;
}
.header__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__right div {
  margin-right: 20px;
  cursor: pointer;
}
