.recommendedVideos {
  flex: 1;
  color: white;
  padding: 40px 20px;
}
.recommendedVideos > h2 {
  margin-left: 5px;
  margin-bottom: 20px;
}
.recommendedVideos__videos {
  display: flex;
  flex-wrap: wrap;
}
