.sidebar {
  flex: 0.3;
  background-color: rgb(31, 29, 29);
}
.sidebar__top {
  margin-left: 1rem;
  display: flex;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
  color: white;
}
.sidebar__top img {
  margin-left: 2rem;
  height: 1.3rem;
}
.sidebar__upper {
  border-top: 1px solid rgb(65, 64, 64);
  border-bottom: 1px solid grey;
  padding: 0.2rem;
}
.sidebar__center {
  border-bottom: 1px solid grey;
  padding: 0.2rem;
}
