.sidebarRow {
  display: flex;
  align-items: center;
  flex: 1;
  margin: 0;
  padding: 0 20px;
}
.sidebarRow__title {
  margin-left: 20px;
  font-size: 1rem;
  color: rgb(236, 233, 233);
}
.sidebarRow__icon {
  margin-left: 20px;
  color: rgb(184, 180, 180);
}
.sidebarRow:hover {
  background-color: rgb(54, 53, 53);
  cursor: pointer;
}
.sidebarRow:hover > .sidebarRow__icon {
  color: rgb(245, 40, 40);
}
.subscribers {
  color: grey;
  font-size: medium;
  margin: 10% 20%;
  justify-content: center;
  text-transform: uppercase;
}
.channelName {
  color: white;
  font-size: medium;
}
.channelIcon {
  margin-left: 10px;
}
