.videoCard {
  margin-bottom: 40px;
  width: 300px;
  transition: transform 100ms ease-in;
}
.videoCard:hover {
  transform: scale(1.07);
}
.videoCard__thumbnail {
  height: 160px;
  width: 270px;
  cursor: pointer;
}
.videoCard__text {
  margin-left: 15px;
  margin-top: -10px;
}
.videoCard__text p {
  margin-top: -1rem;
  font-size: 1rem;
  color: rgb(161, 161, 161);
}
.videoCard__text h4 {
  margin-top: 7px;
  font-size: 15px;
}
.videoCard__info {
  display: flex;
  margin-top: 10px;
  padding-right: 30px;
}
